.welcome_title {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}
.chat_box {
  text-align: center;
}
.chat_loading {
  height: calc(100vh - 200px);
  min-height: 200px;
}